@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #FDFBF7;
    color: #263238;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer components {
  .book-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }

  .pattern-bg {
    background-image: radial-gradient(#D7CCC8 1px, transparent 1px);
    background-size: 20px 20px;
  }
}